<div style="margin-top: 2em;">
  <div>
    <div class="confusionMatrixHeader confusionMatrixHeaderTop">
      Classe Real
    </div>
    <div class="d-flex flex-row">
      <div class="confusionMatrixHeader confusionMatrixHeaderLeft">
        Classe Estimada
      </div>
      <table class="table table-bordered" style="margin: 0;">
        <tr>
          <td class="confusionMatrixLabelHeader"></td>
          <td class="confusionMatrixLabelHeader">1</td>
          <td class="confusionMatrixLabelHeader">2</td>
          <td class="confusionMatrixLabelHeader">3</td>
          <td class="confusionMatrixLabelHeader">4</td>
          <td class="confusionMatrixLabelHeader">5</td>
        </tr>

        <% for(var i=0; i < 5; i++) { %> 
          <tr>
            <td class="confusionMatrixLabelHeader">
              <%= i%>
            </td>
            <td>
              <%= i%>
            </td>
            <td>
              <%= i%>
            </td>
            <td>
              <%= i%>
            </td>
            <td>
              <%= i%>
            </td>
            <td>
              <%= i%>
            </td>
          </tr>
          <% } %>
      </table>
    </div>
  </div>
</div>