<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <div class="myContainer">
    <h1>Matriz de Confusão</h1>

    <form action="confusionMatrix" method="POST">
      <div class="row">
        <div class="col-auto">
          <select class="form-select" style="width:auto;" name="classifier">
            <option value="Bayes">Classificador de Bayes</option>
            <option value="Cosine">Similaridade do Cosseno</option>
          </select>
        </div>

        <div class="col-auto">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>

    <%- include('../partials/generalConfusionMatrix'); %>

    <%- include('../partials/evaluationTable'); %>
  </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
</body>

</html>